* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn-home {
  width: 32.8rem;
  height: 6.7rem;
  border-radius: 2.4rem;
  font-size: 1.6rem;
  transition: all 0.8s;
}

#container {
  padding: 4rem;
  max-width: 1440px;
  margin: 0 auto;
}

#container__empty-message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 10rem);
  background-color: #fff;
  border-radius: 32px;
  width: 40rem;
  float: right;
  margin-top: -7rem;
}

#empty-message__message {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 1.6rem;
  color: var(--gray-500);
}

#container__empty-message.hidden,
#container__not-empty-message.hidden {
  visibility: hidden;
  height: 0;
  width: 0;
}

#container__not-empty-message {
  display: flex;
  padding: 3.2rem;
  flex-direction: column;
  height: 95vh;
  background-color: #fff;
  border-radius: 32px;
  width: 40rem;
  float: right;
  margin-top: -7rem;
}

#not-empty-message {
  display: flex;
  flex-direction: column;
  padding: 3.2rem;
  justify-content: space-between;
  height: 100vh;
}

#main {
  padding-top: 8rem;
  padding-left: 24rem;
  width: 68rem;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#form__input-text {
  height: 30rem;
  background: transparent;
  border: none;
  font-size: 3.2rem;
  font-family: 'Inter', sans-serif;
  line-height: 4.8rem;
  padding: 1.6rem;
  outline: none;
  margin-bottom: 2rem;
}

#form__alert {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
  padding-bottom: 1.6rem;
}

#form__img {
  width: 1.6rem;
  height: 1.6rem;
}

#form__alert-message {
  font-size: 1.2rem;
  color: var(--gray-400);
}

#form__actions {
  display: flex;
  gap: 2.4rem;
}

#actions__btn-encrypt {
  background-color: var(--dark-blue-300);
  color: var(--light-blue-50);
}
#actions__btn-encrypt:hover {
  background-color: var(--dark-blue-200);
}

#actions__btn-dencrypt {
  background-color: var(--light-blue-50);
  color: var(--dark-blue-300);
}
#actions__btn-dencrypt:hover {
  filter: brightness(0.8);
}

#not-empty-message__btn-copy {
  background-color: transparent;
  border: 1px solid var(--dark-blue-300);
  color: var(--dark-blue-300);
  position: relative;
  margin-top: auto;
}

#not-empty-message__btn-copy:hover {
  background-color: var(--light-blue-50);
}

#not-empty-message__output-text {
  font-size: 24px;
  line-height: 150%;
}
