@media (min-width: 1200px) {
  body {
    height: calc(100vh - 8rem);
    margin: 0 8rem;
  }
  .container {
    margin: 4rem;
    display: grid;
    grid-template-column: repeat(1, 1fr);

    grid-template-areas:
      'header header header no-message output-message'
      'main    main   main  no-message output-message';
  }

  .container__header {
    grid-area: 'header';
    height: 5rem;
  }

  .container__main {
    grid-area: main;
    width: 100%;
    padding: 0;
    padding-right: 10rem;
    padding-left: 24rem;
  }

  .container__main textarea {
    height: 51rem;
  }

  .form-text__container-actions {
    display: flex;
    flex-direction: row;
  }

  .container__output-message {
    grid-area: output-message;
    width: 40rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5rem;
  }
  .container__output-message button {
    .container__output-message;
  }
  .container__no-message {
    grid-area: no-message;
    margin-left: auto;
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  .container__no-message img {
    visibility: visible;
    width: 100%;
  }

  .container__output-message textarea {
    height: 68rem;
  }
}
