* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.btn-home {
  height: 6.7rem;
  border-radius: 2.4rem;
  font-size: 1.6rem;
  transition: all 0.8s;
  width: 100%;
}

.container__no-message.hidden,
.container__output-message.hidden {
  display: none;
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0.5rem;
  // width: calc(34rem - 3rem);
  margin: 1.6rem 2rem;

  grid-template-areas:
    'header '
    'main '
    'output-message'
    'no-message';
}

.container__header {
  grid-area: header;
}
.container__main {
  grid-area: main;
  box-sizing: border-box;
  margin-top: 8rem;
  // width: calc(34rem - 3.2rem);
  padding: 0 1.6rem;
}

.main__form-text {
}

.main__form-text textarea {
  box-sizing: border-box;
  border: none;
  background: transparent;
  height: 25rem;
  width: 100%;
  outline: none;
  resize: none;
}

.main__form-text textarea,
.main__form-text textarea::placeholder {
  color: #0a3871;
  font-size: 3.2rem;
  font-family: 'Inter', sans-serif;
}

.form-text__container-image-and-alert-message {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 0.8rem;
  padding: 1.6rem 0;
}
.main__container-image-and-alert-message p {
  font-size: 1.2rem;
}
.form-text__container-actions {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.form-text__container-actions button:nth-child(1) {
  background: var(--dark-blue-300);
  color: var(--light-blue-50);
}

.form-text__container-actions button:nth-child(2) {
  background: transparent;
  color: var(--dark-blue-300);
  border: 1px solid var(--dark-blue-300);
}

.container__no-message {
  grid-area: no-message;

  margin-top: 6.4rem;
  background-color: #ffff;
  padding: 2.5rem;
  border-radius: 32px;
  text-align: center;
}

.container__no-message img {
  visibility: hidden;
  width: 0;
}

.container__no-message strong {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 120%;
}

.container__no-message p {
  margin-top: 1.6rem;
  font-size: 1.6rem;
  line-height: 150%;
}

.container__output-message {
  grid-area: output-message;

  margin-top: 6.4rem;
  background-color: #ffff;
  padding: 2.5rem;
  border-radius: 32px;
}

.container__output-message textarea {
  font-size: 2.4rem;
  color: var(--gray-400);
  box-sizing: border-box;
  border: none;
  background: transparent;
  height: 25rem;
  width: 100%;
  outline: none;
  resize: none;
}

.container__output-message button {
  margin-top: 3.2rem;
  background: transparent;
  color: var(--dark-blue-300);
  border: 1px solid var(--dark-blue-300);
}
