@media (min-width: 1200px) {
  body {
    padding: 0 8rem;
    overflow-y: hidden;
  }
  .container {
    margin: 4rem;
    display: grid;
    grid-template-columns: repeat(1fr, 1fr);

    grid-template-areas:
      'header header header no-message output-message'
      'main    main   main  no-message output-message';
  }

  .container__header {
    grid-area: 'header';
  }

  .container__main {
    grid-area: main;
    padding: 0 10rem;
  }

  .container__main textarea {
    height: 27rem;
    overflow-y: scroll;
  }

  .form-text__container-actions {
    display: flex;
    flex-direction: row;
  }

  .container__output-message {
    grid-area: output-message;
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
  }

  .container__no-message {
    grid-area: no-message;
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container__no-message img {
    visibility: visible;
    width: 100%;
  }

  .container__output-message textarea {
    height: 36rem;
    overflow-y: scroll;
  }
}
